# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
*.ipr
*.iws
.settings/
.classpath
.project
.vscode/
*.launch
out/

# Runtime
run/
logs/
crash-reports/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Forge
libs/
*.log
bin/
